header {
    float: left;
    background: #d27825;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
}

h1 {
    float: left;
 margin: 0 0 20px 0;
    height: 100px;
    color: #FFF;
    font-size: 35px;
    padding: 33px;
    font-weight: bold;
}